<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.goride.user">

    <queries>
        <!-- Open links from app to browser -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="http" />
        </intent>

        <!--Dial call-->
        <intent>
            <action android:name="android.intent.action.DIAL" />
        </intent>

        <!-- Camera -->
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>

        <!-- Gallery -->
        <intent>
            <action android:name="android.intent.action.GET_CONTENT" />
        </intent>

        <!--Mail-->
        <intent>
            <action android:name="android.intent.action.SENDTO" />
            <data android:scheme="*" />
        </intent>
    </queries>


    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission
        android:name="android.permission.DUMP"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.CHANGE_CONFIGURATION"
        tools:ignore="ProtectedPermissions" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <!-- Allows for storing and retrieving screenshots -->
    <!-- Allows changing locales -->

    <application
        android:name="com.goride.user.EberApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name="com.goride.user.BookingDetailActivity"
            android:exported="false" />
        <activity
            android:name="com.goride.user.AddFavouriteDriverActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible|adjustPan" />
        <activity
            android:name="com.goride.user.FavouriteDriverActivity"
            android:screenOrientation="portrait" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name="com.goride.user.SplashScreenActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="com.goride.user.FcmMessagingService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBvSr20xmwuSnNBvbagsmh-Dp6zZXhZp3I" />

        <activity
            android:name="com.goride.user.MainDrawerActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name="com.goride.user.ReferralEnterActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.goride.user.PaymentActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.goride.user.SplitPaymentActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.goride.user.ProfileActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.goride.user.TripHistoryActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.goride.user.TripHistoryDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.goride.user.ReferralDisplayActivtiy"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.goride.user.BookingActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name="com.goride.user.SettingActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.goride.user.DocumentActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/FACEBOOK_APP_ID" />

        <meta-data
            android:name="com.facebook.sdk.ClientToken"
            android:value="@string/FB_CLIENT_TOKEN" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/FB_LOGIN_PROTOCOL_SCHEME" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.goride.user.DestinationSelectionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.goride.user.ContactUsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.goride.user.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.goride.user.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.goride.user.OtpVerifyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.goride.user.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.goride.user.EnterPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.goride.user.ForgotPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.goride.user.NewPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.goride.user.WalletDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.goride.user.WalletHistoryActivity"
            android:screenOrientation="portrait" />
<!--        <activity-->
<!--            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"-->
<!--            android:theme="@style/Base.Theme.AppCompat" />-->
        <activity
            android:name="com.goride.user.AddCardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.goride.user.ChatActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.goride.user.PromotionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.goride.user.PaystackPaymentActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_stat_eber" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/color_app_theme_dark" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="eberuser2020" />

        <meta-data
            android:name="firebase_crashlytics_collection_enabled"
            android:value="false" />
    </application>

</manifest>